/*------------vars---------------*/
 :root { --main-color:#10cab7;    --color-2:#2c4755   }
/*---------------end vars-------------------------*/


/* ---------global rules-------- */
 * {
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
         box-sizing: border-box;         }

 html { scroll-behavior: smooth }

 body { font-family: 'Work Sans', sans-serif }

 .container { padding: 0 15px; margin: 0 auto  }

 .special-heading {
         color:#ebeced;
         font-size: 100px;
         margin: 0;
         text-align: center;
         font-weight: 800;
         letter-spacing: -7px; }

 .special-heading + p {
         margin: -30px 0 0;
         color:#797979;
         font-size: 20px;
         text-align: center; }

/* --------end global rules -----------*/





/* -------------------------header----------------------- */

 .header { padding: 20px }

 .header .container {
         display: flex;
         justify-content: space-between;
         align-items: center; }

 .header .logo { width: 60px }

 .header .links { position: relative; z-index: 1 }

 .header .links:hover .icon span:nth-child(2){ width: 100% }

 .header .links .icon {
     width: 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end; }

 .header .links .icon span {
         height: 2px;
         background-color: #333;
         margin-bottom:5px ; }

 .header .links .icon span:first-child,span:last-child { width: 100% }


 .header .links .icon span:nth-child(2) { width: 60%; transition: 0.3s }

 .header .links ul {
         list-style: none;
         padding: 0;
         margin: 0;
         background-color: #f6f6f6;
         position: absolute;
         right: 0;
         top:calc(100% + 15px);
         min-width: 200px;
         display: none; }

 .header .links ul::before {
         content: "";
         border-width: 10px;
         border-style: solid;
         border-color: transparent transparent #f6f6f6 transparent;
         position: absolute;
         right: 5px;
         top: -20px; }


 .header .links:hover ul { display:block }

 .header .links ul li a {
         display: block;
         padding:15px;
         text-decoration: none;
         color: #333;
         transition: 0.3s; }

 .header .links ul li a:hover { padding-left: 25px }


 .header .links ul li:not(:last-child) a { border-bottom: 1px solid #ddd }

/* ---------------end header----------------------- */

 .landing {
         background-image: url(../imges/pexels-eberhard-grossgasteiger-2086620.jpg);
         background-size: cover;
         height: calc(100vh - 64px);
         position: relative; }

 .landing .intro-text {
         position: absolute;
         top:50%;
         left: 50%;
         transform: translate(-50%,-50%);
         text-align: center;
         width:320px;
         max-width: 100%; }

 .landing h1 {
         margin: 0;
         font-weight: bold;
         font-size: 50px;
         color: var(--main-color); }

 .landing p { font-size: 19px; line-height: 1.8 }

/*---------end landing----------------*/
 

/*------------------features----------*/

 .features{ padding: 60px 0; background-color: #f6f6f6 }

 .features .container { 
         display: grid;
         grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
         grid-gap:20px; }

 .features .feat { padding: 20px; text-align: center }  

 .features .feat i { color:var(--main-color) }

 .features .feat h3 { font-weight: 800; margin: 30px 0 }

 .features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px; }

 .services { padding: 60px 0 0; }

 .services .services-content {
         display: grid;
         grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
         grid-gap:30px;
         margin-top: 100px; }

 .img-srv { width: 100% }

 .services .srv { display: flex; margin-bottom: 40px }

 .services .srv i { flex-basis: 30px; color:var(--main-color) }


 .services .srv .text { flex:1 }
    
 .services .srv .text h3 { margin: 0 0 20px } 

 .services .srv .text p {
         color:#444;
         font-weight: 300;
         line-height: 1.6; }

 .services .imges { position: relative; text-align: center }

 .services .imges::before {
         background-color: var(--color-2);
         content: " ";
          width: 80px;
         top: -44.96px;
         right: -25px;
         z-index: -1;
         height: 135%;
         position: absolute; }


/*--------------------end services---------------------------*/




/*----------------portfolio------------------------*/
 .portfolio { padding: 60px 0; background-color: #f6f6f6 }

 .portfolio .portfolio-content {
         display: grid;
         grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
         grid-gap:30px;
         margin-top: 80px; }

 .portfolio .portfolio-content .card { background-color: #fff }

 .portfolio .portfolio-content img { width: 100% }

 .portfolio .portfolio-content .info { padding: 20px }

 .portfolio .portfolio-content h3 { margin: 0 }


 .portfolio .portfolio-content p {
         color: #777;
         line-height: 1.6;
         margin-bottom: 0; }


/*------------------------end portfolio-----------------------*/



/*-------------------------about---------------------------*/

 .about{ padding: 60px 0 }

 .about .about-content {
         margin-top: 100px;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between; }

 .about .about-content .image { width: 250px; position: relative }

 .about .about-content .image::before {
         content: "";
         z-index: -1;
         position: absolute;
         width: 100px;
         height: 310px;
         left: -10px;
         top: -30px;
         background-color: #1d282e9e; }

 .about .about-content .image::after {
         content: " ";
          position: absolute;
         width: 100px;
         height: 180px;
         top: -30px;
         z-index: -1;
         border-bottom: 65px var(--main-color) solid;
         border-left: 75px var(--main-color) solid;
         right: -135px; }

 .about .about-content .show-img { width: 100% }

 .about .about-content .text { flex-basis: calc(100% - 500px) }

 .about .about-content .text p:first-of-type {
         font-weight: bold;
         margin-bottom: 50px;
         line-height: 2; } 

 .about .about-content .text hr { width:50%; border-color: var(--main-color) }

 .about .about-content .text p:last-of-type { height: 2; color: #777 }

/* ------------------end about-------------------------------- */



/* ------------------contact-------------------------- */

 .contact { padding: 60px 0; background-color: #f6f6f6 }

 .contact .info { padding: 60px 0; text-align:center }

 .contact .label {
         font-size: 35px;
         font-weight: 800;
         color: var(--color-2);
         margin-bottom: 15px;
         letter-spacing: -2px; }

 .contact .link {
         font-size: 35px;
         font-weight: 800;
         text-decoration: none;
         color: var(--main-color);
         display: block; }

 .contact .social {
         display: flex;
         font-size: 16px;
         justify-content: center;
         margin-top: 20px; }

 .contact .social i { color: var(--color-2); padding:0 5px }

/*----------------end contact---------------------*/



/*---------------------footer-----------------------------*/
 .footer {
         font-size: 18px;
         text-align: center;
         padding: 30px 10px;
         width: 100%;
         color: #fff;
         background-color: var(--color-2) ; }

 .footer span {
         color:var(--main-color);
         font-weight: bold; }

/*-----------------------end footer------------------------------*/




/*------------------ media ------------------*/

/* small  */

 @media (min-width:768px) { .container {  width:730px  } }

/* medium */

 @media (min-width:992px) { .container { width:950px } }

/* large */

 @media (min-width:1200px) { .container { width:1170px }  }

/*---------special media---------*/

 @media(max-width:767px) {
         .special-heading { font-size: 60px }

         .special-heading + p { margin-top: -20px }

         .services-content .srv { flex-direction: column; text-align: center }

         .contact .label,.contact .link {  font-size: 30px } }

/*---------------------------------------------------------------------------------*/

 @media (max-width:1199px){ .services .imges { display: none } }

/*------------------------------------------------------------------------------------*/

 @media(max-width:991px){ 
         .about .about-content { flex-direction: column; text-align: center }

         .about .about-content .image::after,.image::before{ display: none; }

         .about .about-content .image{ margin: 0 auto 60px;} }
         
         
         
/**************************************************************************************************************/